
/** Having some issues with Google Fonts and Tailwind. Just going to use this file instead and come back to fix it later. **/
#mainh1{
	font-family: 'Lobster', cursive;
	font-size: 5em;
}
form label{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 2em;
}


/** Fontawesome spin is way too fast. Slowing it down. **/
.custom-spin{
	-webkit-animation: fa-spin 10s infinite linear !important;
	animation: fa-spin 10s infinite linear !important;
}